<div class="app-container">
  <header class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__lights">
        <div class="toolbar__light toolbar__light--blue"></div>
        <div class="toolbar__light toolbar__light--red"></div>
        <div class="toolbar__light toolbar__light--yellow"></div>
        <div class="toolbar__light toolbar__light--green"></div>
      </div>
      <span class="toolbar__title">Pokédex</span>
    </div>
  </header>
  <div class="screen">
    <app-pokemon-list></app-pokemon-list>
  </div>
</div>